<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Regression Suit" verbose="2" parallel="tests" thread-count="2">
    <test name="YahooMail Login Tests - Chrome Browser ">
        <classes>
            <class name="com.testAutomation.tests.YmailLoginTests" />
        </classes>
        <packages>
            <package name="com.testAutomation"/>
        </packages>
    </test>
</suite>